<div class="top">
  <h1 class="head">ようこそ Bookers へ！</h1>
  <div class="arm">
    <p>Bookers では、さまざまな書籍に関するあなたの意見や</p>
    <P>印象を共有し交換することができます</P>
    <br>
  </div>
  <%= link_to "start", books_path %>
</div>